[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-sqlalchemy = "*"
pyjwt = "*"
passlib = "*"


[dev-packages]

python-dotenv = "*"
mypy = "*"
